@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<partial name="_AccountPartial" />

<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row px-4 py-4">

            <div class="col-md-6">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr class="mb-3 pb-2" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3 pb-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><label class="sr-only" asp-for="Input.FirstName"><i class="bi bi-person-circle text-muted mt-n1 me-2"></i></label></div>
                            </div>
                            <input type="text" class="form-control" asp-for="Input.FirstName" placeholder="First name" autocomplete="username" aria-required="true">
 
                        </div>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3 pb-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><label class="sr-only" asp-for="Input.LastName"><i class="bi bi-person-circle text-muted mt-n1 me-2"></i></label></div>
                            </div>
                            <input type="text" class="form-control" asp-for="Input.LastName" placeholder="Last name" autocomplete="username" aria-required="true">
                        </div>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                    </div>

                    <div class="mb-3 pb-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><label class="sr-only" asp-for="Input.Email"><i class="bi bi-envelope text-muted mt-n1 me-2"></i></label></div>
                            </div>
                            <input type="text" class="form-control" asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true">
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                    </div>

                    <div class="mb-3 pb-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><label class="sr-only" asp-for="Input.Password"><i class="bi bi-binoculars-fill text-muted mt-n1 me-2"></i></label></div>
                            </div>
                            <input class="form-control" asp-for="Input.Password" placeholder="Password" autocomplete="new-password" aria-required="true">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>

                    <div class="mb-3 pb-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><label class="sr-only" asp-for="Input.ConfirmPassword"><i class="bi bi-binoculars-fill text-muted mt-n1 me-2"></i></label></div>
                            </div>
                            <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" autocomplete="new-password" aria-required="true">
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-3 pb-2">Register</button>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2 pt-5">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    Coming soon for: Facebook, Twitter, Instagram, Google.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
