@using System.Security.Claims
@using Slim.Core.Model
@inject SignInManager<IdentityUser> _signInManager

@{
    var hasExternalLogins = (await _signInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="list-unstyled mb-0">
    <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="bi bi-person-circle opacity-60 me-2"></i>Profile</a></li>
    <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3  @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><i class="bi bi-envelope opacity-60 me-2"></i>Email</a></li>
    <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="bi bi-shield-lock-fill opacity-60 me-2"></i>Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"><i class="bi bi-door-open opacity-60 me-2"></i>External logins</a></li>
    }
    @*    <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3  @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="bi bi-key opacity-60 me-2"></i>Two-factor authentication</a></li>
    *@
    <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3  @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"><i class="bi bi-person-video3 opacity-60 me-2"></i>Personal data</a></li>
    @*</ul>
    <div class="bg-secondary p-4">
    <h3 class="fs-sm mb-0 text-muted">Seller Dashboard</h3>
    </div>
    <ul class="list-unstyled mb-0 nav nav-pills flex-column">*@
</ul>
@{
    var userIsAdmin = User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == ResourceRole.Admin);

    if (userIsAdmin)
    {
        <div class="bg-secondary p-4">
            <h3 class="fs-sm mb-0 text-muted">Seller Dashboard</h3>
        </div>
        <ul class="list-unstyled mb-0">

            <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3 @ManageNavPages.CreateCategoryNavClass(ViewContext)" id="createCategory" asp-page="./Category"><i class="bi bi-receipt opacity-60 me-2"></i> Category</a></li>
            <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3 @ManageNavPages.AddNewProductClass(ViewContext)" id="addNewProduct" asp-page="./AddNewProduct"><i class="bi bi-basket opacity-60 me-2"></i>Add Products</a></li>
            <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3 @ManageNavPages.AllProductsNavClass(ViewContext)" id="newProduct" asp-page="./AllProducts"><i class="bi bi-plus-square opacity-60 me-2"></i>All Products</a></li>
            <li class="border-bottom mb-0 nav-item"><a class="nav-link-style d-flex align-items-center px-4 py-3 @ManageNavPages.WebPagePhotosNavClass(ViewContext)" id="webPhotos" asp-page="./WebPagePhotos"><i class="bi bi-image-fill opacity-60 me-2"></i>Edit Web Page</a></li>
            <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })"><i class="bi bi-box-arrow-left opacity-60 me-2"></i>Sign out</a></li>
        </ul>
    }
}