@page
@using System.Globalization
@model Slim.Pages.Areas.Identity.Pages.Account.Manage.AllProductsModel
@{
    ViewData["Title"] = "AllProducts";
    ViewData["ActivePage"] = ManageNavPages.AllProducts;
}

<div class="row" id="allPrd">

    <!-- Section Add new Product -->
    <section class="col-lg-12 pt-lg-4 pb-4 mb-3">
        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
            <form>
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                        <h2 class="h3 py-2 me-2 text-center text-sm-start">Your products<span class="badge bg-faded-accent fs-sm text-body align-middle ms-2" id="productCount">@Model.YourProductCount</span></h2>
                        <div class="py-2">
                            <label asp-for="InModel.RazorPageId" class="col-form-label-lg"></label>
                            <select asp-for="InModel.RazorPageId" asp-items="Model.RazorPageSelectList"
                                    class="form-select me-2" id="change-product"></select>
                            <span asp-validation-for="InModel.RazorPageId" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="productByIdDiv">
                        @{
                            for (var i = 0; i < Model.Products.Count; i++)
                            {

                                        <!-- Product-->
                                        <div class="d-block d-sm-flex align-items-center py-4 border-bottom">

                                            @{
                                        var i1 = i;
                                            }
                                            <a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" asp-page="/ProductDetail" asp-route-id="@Model.Products[i1].Id" style="width: 12.5rem;"><img class="rounded-3" src="@Model.ProductAndPrimaryImage[Model.Products[i1].Id]" alt="Product"></a>
                                            <div class="text-center text-sm-start">
                                                <h3 class="h6 product-title mb-2">
                                                    <a asp-page="/ProductDetail" asp-route-id="@Model.Products[i1].Id">@Model.Products[i1].ProductName</a>
                                                </h3>
                                                @{
                                            var salesPrice = Model.Products[i].SalePrice;
                                            // get the numbers after decimal point of salesPrice variable
                                            var salesPriceRoundUp = Convert.ToString(salesPrice, CultureInfo.CurrentCulture).Split('.')[1];
                                            var wholePrice = Convert.ToInt32(Math.Truncate(salesPrice));


                                                }
                                                <div class="d-inline-block text-accent">$@wholePrice<small>.@salesPriceRoundUp</small></div>
                                                <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">26</span></div>
                                                <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$327.<small>60</small></span></div>
                                                <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                                                    <a class="btn bg-faded-accent btn-icon me-2" data-bs-toggle="tooltip" title="Download" asp-page="./AddNewProduct" asp-route-id="@Model.Products[i1].Id" asp-page-handler="EditProduct"><i class="bi bi-download text-accent"></i></a>
                                                    <a class="btn bg-faded-info btn-icon me-2" data-bs-toggle="tooltip" title="Edit" asp-page="./AddNewProduct" asp-route-id="@Model.Products[i1].Id" asp-page-handler="EditProduct"><i class="bi bi-pencil text-info"></i></a>
                                                    <a class="btn bg-faded-danger btn-icon" data-bs-toggle="tooltip" title="Delete" asp-page="./AddNewProduct" asp-route-id="@Model.Products[i1].Id" asp-page-handler="DeleteProduct"><i class="bi bi-trash3 text-danger"></i></a>
                                                </div>
                                            </div>
                                        </div>
                            }

                            <!-- pagination-->
                            @* <nav class="d-flex justify-content-center pt-4" aria-label="Page navigation">
                                <ul class="pagination mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="bi bi-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li> 
                                </ul>
                            </nav> *@

                        }
                    </div>


                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        // create the onchange event for the drop down list
        $('#change-product').change(function () {

            // get the selected value
            var selectedValue = $(this).val();
            var pageId = Number(selectedValue);
            $.ajax({
                type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
                url: '@Url.Page(null, "ProductById")',//'/Identity/Account/Manage/WebPagePhotos?handler=SaveWording', // the url where we want to POST

                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { id: pageId }, // our data object
                contentType: "application/json; charset=utf-8",
                traditional: true,
                async: false,
                success: function (data) {

                    // find the div with id 'productByIdDiv' in the data
                    var div = $(data).find('#productByIdDiv');

                    var productCount = $(data).find('#productCount');

                    // replace the div with id 'productByIdDiv' in the current page with the div from the data
                    $('#productByIdDiv').replaceWith(div);
                    $('#change-product').val(selectedValue);

                    $('#productCount').replaceWith(productCount);
                },
                error: function (data) {
                    console.log("couldn't Successfully");
                }

            });


        });

        $(document).ready(function () {
            var priceUrl = '@Url.Page("Cart", "TotalCartPrice")';
            var cartUrl = '@Url.Page("Cart", "TotalCartCount")';

            GetTotalCartPrice(priceUrl);
            GetTotalCartItem(cartUrl);
        });

    </script>
}