@page
@model WebPagePhotosModel

@{
    ViewData["Title"] = "WebPagePhotos";
    ViewData["ActivePage"] = ManageNavPages.WebPagePhotos;
}

<h1>WebPagePhotos</h1>
<hr />
<div class="row mt-3">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post" asp-page-handler="AllSections">
            <div class="py-2">
                <label asp-for="InModel.RazorPageId" class="col-form-label-lg"></label>
                <select asp-for="InModel.RazorPageId" asp-items="Model.RazorPageSelectList"
                        class="form-select me-2"></select>
                <span asp-validation-for="InModel.RazorPageId" class="text-danger"></span>
            </div>

            <div class="mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>

        <!-- Tabs-->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link px-0 active" href="#pageWording" data-bs-toggle="tab" role="tab">
                    <div class="d-none d-lg-block"><i class="bi bi-pen opacity-60 me-2"></i>Page Wordings</div>
                    <div class="d-lg-none text-center">
                        <i class="ci-user opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Page Wordings</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-0" href="#notifications" data-bs-toggle="tab" role="tab">
                    <div class="d-none d-lg-block"><i class="ci-bell opacity-60 me-2"></i>Change Photos</div>
                    <div class="d-lg-none text-center">
                        <i class="bi bi-image-alt opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">
                            Change
                            Photos
                        </span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- Tab content-->

        <div class="tab-content">
            <!-- Profile-->
            <div class="tab-pane fade show active" id="pageWording" role="tabpanel">
                <div class="row gx-4 gy-3">
                    <form method="post" asp-page-handler="SaveWording">
                        @{
                            @for (var i = 0; i < Model.WordingModel.Count; i++)
                            {
                                <div class="col-sm-12">
                                    @{
                                        var i1 = i;
                                        Model.WordingModel[i1].RazorPageId = Model.WordingModel[i1].RazorPageId;
                                    }
                                    @if (Model.WordingModel[i1].PageSectionName == "Exceptional Service")
                                    {
                                        <label class="form-label" asp-for="@Model.WordingModel[i1].PageSectionName">@Model.WordingModel[i1].PageSectionName</label>
                                        <textarea rows="15" asp-for="@Model.WordingModel[i1].Description" class="form-control">@Model.WordingModel[i1].Description</textarea>
                                    }
                                    else
                                    {
                                        <label class="form-label" asp-for="@Model.WordingModel[i1].PageSectionName">@Model.WordingModel[i1].PageSectionName</label>
                                        <input class="form-control" asp-for="@Model.WordingModel[i1].Description" value="@Model.WordingModel[i1].Description">
                                    }
                                    <input type="hidden" asp-for="@Model.WordingModel[i1].RazorPageId">
                                    <input type="hidden" asp-for="@Model.WordingModel[i1].PageSectionId">
                                </div>
                            }
                        }

                        <hr class="mt-2 mb-4">
                        <div class="col-12 d-sm-flex justify-content-between align-items-center">
                            <input class="btn btn-primary mt-3 mt-sm-0" type="submit" id="SaveWording" value="Save Changes" />
                        </div>
                    </form>
                </div>

            </div>

            <!-- Notifications-->
            <div class="tab-pane fade" id="notifications" role="tabpanel">
                <form method="post" asp-page-handler="SavePhotos" enctype="multipart/form-data">
                    <div class="bg-secondary rounded-3 p-4 mb-4">
                        <div class="d-flex align-items-center">

                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon bi bi-cloud-arrow-up"></div><span class="file-drop-message">
                                    Drag and drop here to upload product for Bag
                                </span>
                                <input class="file-drop-input" type="file" asp-for="ImgModel.BagImage"
                                       accept="image/png, image/jpeg, image/jpg, image/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">
                                    <i class="bi bi-cloud-arrow-up me-2"></i>Change <span class='d-none d-sm-inline'>bag image</span>
                                </button>
                                <div class="mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-secondary rounded-3 p-4 mb-4">
                        <div class="d-flex align-items-center">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon bi bi-cloud-arrow-up"></div><span class="file-drop-message">
                                    Drag and drop here to upload product for Shoe
                                </span>
                                <input class="file-drop-input" type="file" asp-for="ImgModel.ShoeImage"
                                       accept="image/png, image/jpeg, image/jpg, image/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">
                                    <i class="bi bi-cloud-arrow-up me-2"></i>Change <span class='d-none d-sm-inline'>shoe image</span>
                                </button>
                                <div class="mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-secondary rounded-3 p-4 mb-4">
                        <div class="d-flex align-items-center">

                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon bi bi-cloud-arrow-up"></div><span class="file-drop-message">
                                    Drag and drop here to upload product for an accessory
                                </span>
                                <input class="file-drop-input" type="file" asp-for="ImgModel.AccessoryImage"
                                       accept="image/png, image/jpeg, image/jpg, image/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button"><i class="bi bi-cloud-arrow-up me-2"></i>Change <span class='d-none d-sm-inline'>accessory image</span></button>
                                <div class="mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-sm-end mt-4">
                        <input class="btn btn-primary mt-3 mt-sm-0" type="submit" value="Save Images" />
                    </div>

                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#SaveWordingfer').click(function () {
                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = $('form').serialize();

                // process the form
                $.ajax({
                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url: '@Url.Page(null, "SaveWording")',//'/Identity/Account/Manage/WebPagePhotos?handler=SaveWording', // the url where we want to POST

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { model: formData }, // our data object
                    contentType: "application/json; charset=utf-8",
                    traditional: true,
                    async: true,
                    success:
                        function (data) {
                            // using the JSON data from the server
                            if (data.success) {
                                alert('Success');
                            } else {
                                alert('Error');
                            }
                        },
                    error: function (data) {
                        alert('Error');
                    }


                });

            });
        });
    </script>
}
