@page "{id?}"
@using System.Globalization
@using Slim.Pages.Extensions
@model Slim.Pages.Pages.CartModel
@inject Slim.Shared.Interfaces.Serv.ICartService _cartService;
@{
}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-page="/Index"><i class="bi bi-house"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <i class="bi bi-arrow-right-circle"></i> <a asp-page="/Index">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
                <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2" asp-page="/Index"><i class="bi bi-arrow-left-circle me-2"></i>Back to Home</a>
            </div>
            <form method="post" asp-page-handler="UpdateShoppingCart">
                @for (var item = 0; item < Model.CartItems.Count; item++)
                {

                    var product = Model.CartItems[item].Product;

                    if (product == null)
                    {
                        continue;
                    }

                    var primary = string.Empty;
                    var imgPrimary = product.Images.FirstOrDefault(x => x.IsPrimaryImage);
                    var productPrice = _cartService.GetPriceForProduct(product.StandardPrice, product.SalePrice);

                    <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                        <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                            <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" asp-page="/ProductDetail" asp-route-id="@product.Id">
                                <img src="@primary.GetImageSrc(imgPrimary?.UploadedImage)" width="160" alt="Product">
                            </a>
                            <div class="pt-2">
                                <h3 class="product-title fs-base mb-2"><a asp-page="/ProductDetail" asp-route-id="@product.Id">@product.ProductName</a></h3>
                                <div class="fs-sm"><span class="text-muted me-2">Category:</span>@product.Category.CategoryName</div>
                                @if (product.IsOnSale)
                                {
                                    <div class="fs-lg text-accent pt-2">$@productPrice.SalesWholePrice.<small>@productPrice.SalesPriceRoundUp</small></div>
                                }
                                else
                                {
                                    <div class="fs-lg text-accent pt-2">$@productPrice.StandardWholePrice.<small>@productPrice.StandardPriceRoundUp</small></div>
                                }
                            </div>
                        </div>
                        <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                            <label class="form-label" for="quantity1">Quantity</label>

                            @{
                                var item1 = item;
                                // www.flyfi.com
                            }

                            <select asp-items="@Model.QuantitySelectListItem" asp-for="@Model.CartItems[item1].Quantity" class="form-select"
                                id="quantitySelect_@item1"
                                onchange="OnSelectItemChanged(quantitySelect_@item1, '@Model.CartItems[item1].Id')"></select>
                            <input type="hidden" asp-for="@Model.CartItems[item1].Id" id="cartItemId">
                            <button class="btn btn-link px-0 text-danger" type="submit" asp-page-handler="RemoveCartItem" asp-route-id="@Model.CartItems[item1].Id"><i class="bi bi-trash3 me-2"></i><span class="fs-sm">Remove</span></button>
                        </div>
                    </div>
                }
            </form>

            <!-- Item-->
            @*  <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
            <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
            <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html"><img src="img/shop/cart/01.jpg" width="160" alt="Product"></a>
            <div class="pt-2">
            <h3 class="product-title fs-base mb-2"><a href="shop-single-v1.html">Women Colorblock Sneakers</a></h3>
            <div class="fs-sm"><span class="text-muted me-2">Size:</span>8.5</div>
            <div class="fs-sm"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
            <div class="fs-lg text-accent pt-2">$154.<small>00</small></div>
            </div>
            </div>
            <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
            <label class="form-label" for="quantity1">Quantity</label>
            <input class="form-control" type="number" id="quantity1" min="1" value="1">
            <button class="btn btn-link px-0 text-danger" type="button"><i class="bi bi-trash3 me-2"></i><span class="fs-sm">Remove</span></button>
            </div>
            </div>*@

        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4">
                <div class="py-2 px-xl-2">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                        @{
                            var price = Model.TotalCartPrice;

                                @if (price != 0)
                            {
                                var priceRoundUp = Convert.ToString(price, CultureInfo.CurrentCulture).Split('.')[1];
                                var priceWholePrice = Convert.ToInt32(Math.Truncate(price));
                                    <h3 class="fw-normal" id="totalPrice">$@priceWholePrice.<small id="totalPriceRoundUp">@priceRoundUp</small></h3>
                            }
                            else
                            {
                                    <h3 class="fw-normal" id="totalPrice">$0.<small id="totalPriceRoundUp">00</small></h3>
                            }
                        }

                    </div>
                    <div class="mb-3 mb-4">
                        <label class="form-label mb-3" for="order-comments"><span class="badge bg-info fs-xs me-2">Note</span><span class="fw-medium">Additional comments</span></label>
                        <textarea class="form-control" rows="6" id="order-comments"></textarea>
                    </div>
                    <div class="accordion" id="order-options">
                        <div class="accordion-item">
                            <h3 class="accordion-header"><a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code</a></h3>
                            <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options">
                                <form class="accordion-body needs-validation" method="post" novalidate>
                                    <div class="mb-3">
                                        <input class="form-control" type="text" placeholder="Promo code" required>
                                        <div class="invalid-feedback">Please provide promo code.</div>
                                    </div>
                                    <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button>
                                </form>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shipping-estimates" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates</a></h3>
                            <div class="accordion-collapse collapse" id="shipping-estimates" data-bs-parent="#order-options">
                                <div class="accordion-body">
                                    <form class="needs-validation" novalidate>
                                        <div class="mb-3">
                                            <select class="form-select" required>
                                                <option value="">Choose your country</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Belgium">Belgium</option>
                                                <option value="Canada">Canada</option>
                                                <option value="Finland">Finland</option>
                                                <option value="Mexico">Mexico</option>
                                                <option value="New Zealand">New Zealand</option>
                                                <option value="Switzerland">Switzerland</option>
                                                <option value="United States">United States</option>
                                            </select>
                                            <div class="invalid-feedback">Please choose your country!</div>
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-select" required>
                                                <option value="">Choose your city</option>
                                                <option value="Bern">Bern</option>
                                                <option value="Brussels">Brussels</option>
                                                <option value="Canberra">Canberra</option>
                                                <option value="Helsinki">Helsinki</option>
                                                <option value="Mexico City">Mexico City</option>
                                                <option value="Ottawa">Ottawa</option>
                                                <option value="Washington D.C.">Washington D.C.</option>
                                                <option value="Wellington">Wellington</option>
                                            </select>
                                            <div class="invalid-feedback">Please choose your city!</div>
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" type="text" placeholder="ZIP / Postal code" required>
                                            <div class="invalid-feedback">Please provide a valid zip!</div>
                                        </div>
                                        <button class="btn btn-outline-primary d-block w-100" type="submit">Calculate shipping</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.TotalCartPrice > 0)
                    {
                        <a class="btn btn-primary btn-shadow d-block w-100 mt-4" asp-page="./Checkout"><i class="bi bi-credit-card-2-back"></i> Proceed to Checkout</a>
                    }
                </div>
            </div>
        </aside>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var priceUrl = '@Url.Page("Cart", "TotalCartPrice")';
            var cartUrl = '@Url.Page("Cart", "TotalCartCount")';

            GetTotalCartPrice(priceUrl);
            GetTotalCartItem(cartUrl);

            //$('#quantitySelect').change(function () {
            //    // get the selected value
            //    var quantity = $(this).val();
            //    var selectedId = $('#cartItemId').val();

            //    $.ajax({
            //        type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
            //        url: '@Url.Page(null, "UpdateShoppingCart")',

            //        beforeSend: function (xhr) {
            //            xhr.setRequestHeader("XSRF-TOKEN",
            //                $('input:hidden[name="__RequestVerificationToken"]').val());
            //        },
            //        data: { cartItemId: selectedId, quantity }, // our data object
            //        contentType: "application/json; charset=utf-8",
            //        traditional: true,
            //        async: false,
            //        success:
            //            function (data) {
            //                if (data > 0) {
            //                    SetCartIconData(data);
            //                }

            //                var cartUrl = '@Url.Page("Cart", "TotalCartCount")';
            //                GetTotalCartItem(cartUrl);
            //            },
            //        error: function (data) {
            //            console.log(data);
            //        }


            //    });

            //});
        })

        function OnSelectItemChanged(id, selectedCartId) {
            var quantity = Number(id.selectedIndex) + 1;

            $.ajax({
                type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
                url: '@Url.Page(null, "UpdateShoppingCart")',

                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { cartItemId: selectedCartId, quantity }, // our data object
                contentType: "application/json; charset=utf-8",
                traditional: true,
                async: false,
                success:
                    function (data) {
                        if (data > 0) {
                            SetCartIconData(data);
                        }

                        var cartUrl = '@Url.Page("Cart", "TotalCartCount")';
                        GetTotalCartItem(cartUrl);
                    },
                error: function (data) {
                    console.log(data);
                }


            });
        }


    </script>
}