@page
@using System.Globalization
@using Slim.Pages.Extensions
@model IndexModel
@inject Slim.Shared.Interfaces.Serv.ICartService _cartService;
@{
    ViewData["Title"] = "Home page";

    var bannerHeading1 = @Model.PageSections.FirstOrDefault(x => x.PageSectionName == "Banner Heading1")?.Description ?? "Hurry up! Limited time offer.";
    var bannerHeading2 = @Model.PageSections.FirstOrDefault(x => x.PageSectionName == "Banner Heading2")?.Description ?? "New Arrivals, Bundles and Sets";
    var bannerHeading3 = @Model.PageSections.FirstOrDefault(x => x.PageSectionName == "Banner Heading3")?.Description ?? "Magnetic Lashes, Whites, Anytime &amp; much more...";
}

<!-- Hero slider-->
<section class="tns-carousel tns-controls-lg">
    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">

        @*#f5b1b0;*@
        <div class="px-lg-5 px-md-5" style="background-color: #ebe9e1;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
                @*<img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/02.jpg" alt="Women Sportswear">*@
                <img class="img-thumbnail rounded-circle d-block order-lg-2 flex-shrink-0" src="~/img/RhaiLogo.png" alt="Slim Studio">


                <div class="position-relative me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10; margin-left: 8%;">
                    <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-dark fw-light pb-1 from-bottom">@bannerHeading1</h3>
                        <h2 class="text-dark display-5 from-bottom delay-1">@bannerHeading2</h2>
                        <p class="fs-lg text-dark pb-3 from-bottom delay-2">@bannerHeading3</p>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn linkBtn" asp-page="/Appointment">Best Sellers<i class="bi bi-arrow-right-circle-fill ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popular categories-->
<section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
    <div class="row">
        <div class="col-xl-8 col-lg-9">
            <div class="card border-0 shadow-lg">
                <div class="card-body px-3 pt-grid-gutter pb-0">
                    <div class="row g-0 ps-1">
                        <div class="col-sm-4 px-2 mb-grid-gutter">
                            <a class="d-block text-center text-decoration-none me-1" asp-page="/bags">
                                <img class="d-block rounded mb-3 homePopularImg" src="@Model.ImgModel.ImageBag" alt="Bag">
                                <h3 class="fs-base pt-1 mb-0">Bags</h3>
                            </a>
                        </div>
                        <div class="col-sm-4 px-2 mb-grid-gutter">
                            <a class="d-block text-center text-decoration-none me-1" asp-page="/shoes">
                                <img class="d-block rounded mb-3 homePopularImg" src="@Model.ImgModel.ImageShoe" alt="Shoes">
                                <h3 class="fs-base pt-1 mb-0">Shoes</h3>
                            </a>
                        </div>
                        <div class="col-sm-4 px-2 mb-grid-gutter">
                            <a class="d-block text-center text-decoration-none me-1" asp-page="/jewelries">
                                <img class="d-block rounded mb-3 homePopularImg" src="@Model.ImgModel.ImageAccess" alt="Jewelries">
                                <h3 class="fs-base pt-1 mb-0">Jewelries</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Products grid (Trending products)-->
<section class="container pt-md-3 pb-5 mb-md-3">
    <h2 class="h3 text-center">Trending Bags</h2>
    <div class="row pt-4 mx-n2">
        <!-- Product-->
        @{
            for (var i = 0; i < Model.DisplayBags.Count; i++)
            {
                var item = Model.DisplayBags[i];

                var primary = string.Empty;
                var imgPrimary = item.Images.FirstOrDefault(x => x.IsPrimaryImage);

                var productPrice = _cartService.GetPriceForProduct(item.StandardPrice, item.SalePrice);

                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
                    <div class="card product-card">
                        @if (item.IsOnSale)
                        {
                            <span class="badge rounded-pill text-bg-danger bg-danger">Sale</span>
                        }
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="bi bi-heart"></i></button>

                        <a class="card-img-top d-block overflow-hidden" asp-page="/ProductDetail" asp-route-id="@item.Id">
                            <img src="@primary.GetImageSrc(imgPrimary?.UploadedImage)" class="img-h345" alt="Product">
                        </a>

                        <div class="card-body py-2">
                            <a class="product-meta d-block fs-xs pb-1" asp-page="/ProductDetail" asp-route-id="@item.Id">@item.Category.CategoryName</a>
                            <h3 class="product-title fs-sm"><a asp-page="/ProductDetail" asp-route-id="@item.Id">@item.ProductName</a></h3>
                            <div class="d-flex justify-content-between">
                                @if (item.IsOnSale)
                                {
                                    <div class="product-price"><span class="text-accent"><s>$@productPrice.StandardWholePrice.<small>@productPrice.StandardPriceRoundUp</small></s></span> <span class="text-accent">$@productPrice.SalesWholePrice<span class="fs-sm">.@productPrice.SalesPriceRoundUp</span></span></div>
                                }
                                else
                                {
                                    <div class="product-price"><span class="text-accent">$@productPrice.StandardWholePrice.<small>@productPrice.StandardPriceRoundUp</small></span></div>
                                }
                                <div class="star-rating">
                                    @{

                                        var average = item.Reviews.Count > 0 ? item.Reviews.Average(r => r.Rating) : 0;
                                        var enumerates1 = Enumerable.Range(0, (int)average);

                                        var enumerable1 = enumerates1.ToList();
                                        foreach (var _ in enumerable1)
                                        {
                                            <i class="star-rating-icon bi bi-star-fill"></i>
                                        }

                                        var remaining1 = 5 - enumerable1.Count;
                                        for (var j = 0; j < remaining1; j++)
                                        {
                                            <i class="star-rating-icon bi bi-star"></i>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body card-body-hidden">
                            @if (item.IsProductInCart)
                            {
                                <button class="btn btn-secondary btn-sm d-block w-100 mb-2" id="added-to-cart-@item.Id" type="button" disabled><i class="bi bi-bag-plus-fill fs-sm me-1"></i>Added to Cart</button>
                            }
                            else
                            {
                                <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="submit" id="add-to-cart-@item.Id" onclick="OnAddItemToCart(@item.Id, '@Url.Page("Cart", "AddNewProductToCart")', '@Url.Page("Cart", "TotalCartCount")')"><i class="bi bi-cart-check-fill fs-sm me-1"></i>Add to Cart</button>
                            }
                            <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye-fill align-middle me-1"></i>Quick view</a></div>
                        </div>
                    </div>
                    <hr class="d-sm-none">
                </div>
            }
        }

    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent" asp-page="/bags">More bags<i class="bi bi-arrow-right-circle-fill ms-1"></i></a></div>
</section>


<!-- Book Appointment Banners -->
<section class="container pb-4 mb-md-3">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
                <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                    <h4 class="fs-lg fw-light mb-2">Want to talk to a fashion expert?</h4>
                    <h3 class="mb-4">Call a fashion expert</h3><a class="btn btn-primary btn-shadow btn-sm" asp-page="/Appointment">Click Here</a>
                </div>
                @*<img class="d-block ms-auto" src="img/shop/catalog/banner.jpg" alt="Shop Converse">*@
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3" style="background-image: url(img/home/banners/banner-bg.jpg);">
                <div class="py-4 my-2 px-4 text-center">
                    <div class="py-1">
                        <h5 class="mb-2">Or Reach Out</h5>
                        <p class="fs-sm text-muted">You may fill out the form </p><a class="btn btn-primary btn-shadow btn-sm" asp-page="/Appointments">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Hair -->
<section class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
    <div class="row">
        <!-- Banner with controls-->
        <div class="col-md-5">
            <div class="d-flex flex-column h-100 overflow-hidden rounded-3" style="background-color: #e2e9ef;">
                <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
                    <div>
                        <h3 class="mb-1">Shoe day</h3><a class="fs-md" asp-page="/shoes">Shop all shoes<i class="bi bi-arrow-right-circle-fill fs-xs align-middle ms-1"></i></a>
                    </div>
                    <div class="tns-carousel-controls" id="hoodie-day">
                        <button type="button"><i class="bi bi-arrow-left-circle-fill"></i></button>
                        <button type="button"><i class="bi bi-arrow-right-circle-fill"></i></button>
                    </div>
                </div><a class="d-none d-md-block mt-4" asp-page="/Appointment"><img class="d-block w-100" src="img/home/categories/shoeday.jpg" alt="For Women"></a>
            </div>
        </div>
        <!-- Product grid (carousel)-->
        <div class="col-md-7 pt-4 pt-md-0">
            <div class="tns-carousel">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;nav&quot;: false, &quot;controlsContainer&quot;: &quot;#hoodie-day&quot;}">
                    @{
                        var allShoes = Model.DisplayShoes.Where(x => x.IsTrending).OrderByDescending(x => x.ModifiedDate.GetValueOrDefault()).ThenBy(x => x.CreatedDate).Take(6).ToList();
                        var first6 = allShoes.Take(6).ToList();

                        <!-- Carousel item-->
                        <div>
                            <div class="row mx-n2">
                                @{
                                    for (var i = 0; i < first6.Count; i++)
                                    {
                                        var item = allShoes[i];

                                        var primary = string.Empty;
                                        var imgPrimary = item.Images.FirstOrDefault(x => x.IsPrimaryImage);

                                        var productPrice = _cartService.GetPriceForProduct(item.StandardPrice, item.SalePrice);

                                        <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4 @ManageClassAttr.Add_d_noneAnd_d_lg_block(i)">
                                            <div class="card product-card card-static">
                                                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"> <i class="bi bi-heart"></i> </button>
                                                <a class="card-img-top d-block overflow-hidden" asp-page="/ProductDetail" asp-route-id="@item.Id">
                                                    <img src="@primary.GetImageSrc(imgPrimary?.UploadedImage)" alt="Shoes" class="homehairImg">
                                                </a>

                                                <div class="card-body py-2">
                                                    <a class="product-meta d-block fs-xs pb-1" asp-page="/ProductDetail" asp-route-id="@item.Id">@item.Category.CategoryName</a>
                                                    <h3 class="product-title fs-sm"><a asp-page="/ProductDetail" asp-route-id="@item.Id">@item.ProductName</a></h3>
                                                    <div class="d-flex justify-content-between">
                                                        @if (item.IsOnSale)
                                                        {
                                                            <div class="product-price"> <span class="text-accent">$@productPrice.SalesWholePrice<span class="fs-sm">.@productPrice.SalesPriceRoundUp</span></span></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="product-price"><span class="text-accent">$@productPrice.StandardWholePrice.<small>@productPrice.StandardPriceRoundUp</small></span></div>
                                                        }

                                                        <div class="star-rating">
                                                            @{

                                                                var average = item.Reviews.Count > 0 ? item.Reviews.Average(r => r.Rating) : 0;
                                                                var enumerates1 = Enumerable.Range(0, (int)average);

                                                                var enumerable1 = enumerates1.ToList();
                                                                foreach (var _ in enumerable1)
                                                                {
                                                                    <i class="star-rating-icon bi bi-star-fill"></i>
                                                                }

                                                                var remaining1 = 5 - enumerable1.Count;
                                                                for (var j = 0; j < remaining1; j++)
                                                                {
                                                                    <i class="star-rating-icon bi bi-star"></i>
                                                                }

                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                        if (allShoes.Count > 6)
                        {
                            <!-- Carousel item-->
                            <div>
                                <div class="row mx-n2">

                                    @{
                                        var newShoes = allShoes.Skip(6).ToList();
                                        for (var i = 0; i < newShoes.Count(); i++)
                                        {
                                            var item = allShoes[i];

                                            var primary = string.Empty;
                                            var imgPrimary = item.Images.FirstOrDefault(x => x.IsPrimaryImage);

                                            var productPrice = _cartService.GetPriceForProduct(item.StandardPrice, item.SalePrice);

                                            <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4 @ManageClassAttr.Add_d_noneAnd_d_lg_block(i)">
                                                <div class="card product-card card-static">
                                                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"> <i class="bi bi-heart"></i> </button>
                                                    <a class="card-img-top d-block overflow-hidden" asp-page="/ProductDetail" asp-route-id="@item.Id">
                                                        <img src="@primary.GetImageSrc(imgPrimary?.UploadedImage)" alt="Shoes" class="homehairImg">
                                                    </a>

                                                    <div class="card-body py-2">
                                                        <a class="product-meta d-block fs-xs pb-1" asp-page="/ProductDetail" asp-route-id="@item.Id">@item.Category.CategoryName</a>
                                                        <h3 class="product-title fs-sm"><a asp-page="/ProductDetail" asp-route-id="@item.Id">@item.ProductName</a></h3>
                                                        <div class="d-flex justify-content-between">
                                                            @if (item.IsOnSale)
                                                            {
                                                                <div class="product-price"> <span class="text-accent">$@productPrice.SalesWholePrice<span class="fs-sm">.@productPrice.SalesPriceRoundUp</span></span></div>
                                                            }
                                                            else
                                                            {
                                                                <div class="product-price"><span class="text-accent">$@productPrice.StandardWholePrice.<small>@productPrice.StandardPriceRoundUp</small></span></div>
                                                            }

                                                            <div class="star-rating">
                                                                @{

                                                                    var average = item.Reviews.Count > 0 ? item.Reviews.Average(r => r.Rating) : 0;
                                                                    var enumerates1 = Enumerable.Range(0, (int)average);

                                                                    var enumerable1 = enumerates1.ToList();
                                                                    foreach (var _ in enumerable1)
                                                                    {
                                                                        <i class="star-rating-icon bi bi-star-fill"></i>
                                                                    }

                                                                    var remaining1 = 5 - enumerable1.Count;
                                                                    for (var j = 0; j < remaining1; j++)
                                                                    {
                                                                        <i class="star-rating-icon bi bi-star"></i>
                                                                    }

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop All Lip gloss -->
<section class="container py-lg-4 mb-4">
    <h2 class="h3 text-center pb-4">Shop Accessories</h2>
    <div class="row">
        @{
            foreach (var lip in Model.DisplayAccessories)
            {
                var primary = string.Empty;
                var imgPrimary = lip.Images.FirstOrDefault(x => x.IsPrimaryImage);

                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" asp-page="/ProductDetail" asp-route-id="@lip.Id"><img class="d-block mx-auto lipGlossImg" src="@primary.GetImageSrc(imgPrimary?.UploadedImage)" alt="Brand"></a>
                </div>
            }
        }
        @*<div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto lipGlossImg" src="img/shop/catalog/l1.jpg" alt="Brand"></a></div>*@
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#added-to-cart2').hide();
            var priceUrl = '@Url.Page("Cart", "TotalCartPrice")';
            var cartUrl = '@Url.Page("Cart", "TotalCartCount")';

            GetTotalCartPrice(priceUrl);
            GetTotalCartItem(cartUrl);
        });

    </script>
}